body {
  background: url(/assets/images/darkness.png)
}
svg {
  pointer-events: none; /* keeps the onclick target the parent div */
}
.tile {
  box-shadow: 0px 3px 6px;
}
.tile:hover {
  transform: scale(1.10);
}
.jumbotron {
  padding: 2rem 1rem;
  background: gold;
}

@keyframes shaky {
  0% {transform: translate(0px);}
  25% {transform: translate(5px);}
  75% {transform: translate(-5px);}
  100% {transform: translate(0px);}
}
.shaky {
  animation-name: shaky;
  animation-duration: 200ms;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes failText {
  from {color: red}
  to {color: inherit}
}
.fail {
  animation: failText 0.5s;
}
@keyframes niceText {
  from {color: green}
  to {color: inherit}
}
.nice {
  animation: niceText 0.5s;
}

@media (min-width: 1200px) {
  .container {
      max-width: 920px;
  }
}